/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=text], div[role=textbox] {
  display: block;
  border: 1px solid #c5d0db;
  border-radius: 6px;
  padding: 5px;
}

input[type=text]:focus, input[type=text]:active,
div[role=textbox]:focus, div[role=textbox]:active {
  border: 1px solid #4770ff;
}

input[type=date] {
  border: 1px solid #c5d0db;
  border-radius: 6px;
  padding: 5px;
}

input[type=submit] {
  border-radius: 4px;
  background-color: #e5ebf1;
  padding: 7px;
}

div[role=textbox] {
  outline: none;
  cursor: text;
}

/* roboto-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-300.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.img {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  background: #edeef0;
}

.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.block {
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: white;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 0 1px #dce1e6;
          box-shadow: 0 0 0 1px #dce1e6;
}

.comments__name-date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.comments__name-wrap {
  width: 50%;
}

.comments input[name=name] {
  width: 100%;
  margin-top: 5px;
}

.comments input[name=name].error {
  border: 1px solid red;
}

.comments .name-error {
  display: block;
  color: red;
}

.comments__text-wrap {
  margin-bottom: 10px;
}

.comments .commentText {
  position: relative;
}

.comments .placeholder {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #818c99;
}

.comments .commentText.error {
  border: 1px solid red;
}

.comments .text-error {
  display: block;
  color: red;
}

.comments__field {
  display: none;
}

.comment {
  margin-bottom: 20px;
}

.comment__delete {
  width: 20px;
}

.comment__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 10px;
}

.comment__name {
  font-size: 20px;
  font-weight: bold;
  color: #4770ff;
  margin-right: 15px;
}

.comment__head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.comment__date {
  color: #818c99;
}

.comment__text {
  margin-bottom: 15px;
}

.comment__like {
  width: 20px;
  height: 20px;
  background: url(../img/heart-light.svg) no-repeat center;
  background-size: 20px auto;
}

.comment__like.active {
  background: url(../img/heart-dark.svg) no-repeat center;
  background-size: 20px auto;
}

.comment:last-of-type {
  margin-bottom: 0;
}

.hidden-div {
  display: hidden;
  white-space: pre-wrap;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
  word-wrap: break-word;
  border: 1px solid rg rgba(197, 208, 219, 0);
  border-radius: 6px;
}

.no-scroll {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */